body {
  background-color: #292d30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

main {
  border-radius: 15px;
}

main h2 {
  text-shadow: 2px 2px 2px black;
}

.btn-success {
  background-color: #21b755;
  border-color: #21b755;
  color: #000;
}

.bg-color {
  /* width: 100%; */
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(186, 87, 87, 1) 3%,
    rgba(18, 17, 17, 1) 100%
  );
}

.card,
.list-group > li {
  background-color: #292d30;
  color: white;
  border: none;
}

.card-footer {
  background-color: #fff;
  opacity: 0.5;
}
small.text-body-secondary {
  color: #000 !important;
}

.carousel h5,
p {
  text-shadow: 2px 2px 2px black;
}

.nav-link:hover {
  background-color: hsla(144, 83%, 36%, 0.7);
}

button a {
  text-decoration: none;
  color: #21b755;
  font-weight: 700;
}
